*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
  width: 100vw;
  height: 100vh;
}

.banner {
  width: 420px;
}

.enunciado {
  flex-direction: column;
  text-align: center;
}

.alvo {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 25px;
}

.divisa {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 12px;
  padding: 10px;
}

.container {
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.circular-progress {  
  
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-left: 60px;

}
.circular-progress:before {
  
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #231c3d;
  
}
button {
  margin: auto 98px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #4d5bf9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.startButton {
  background-color: rgb(0, 0, 211);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 110%;
  left: 50%;
  width: 350px;

}
.info h2 {
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: aut;
  
}

.info h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: white;
}

.info img {
  width: 50px;
  height: 50px;
}
